:root {
    scrollbar-width: none;
}

.images {
    display: flex;
    width: 100%;
    height: 100vh;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

img {
    width: 250px;
    height: 200px;
    transition: .4s;
    box-shadow: 0 2px 5px black;
}

.zoom {
    width: 450px;
    height: 350px;
}

#dark {
    display: none;
    position: fixed;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

#close {
    position: absolute;
    font-size: 100px;
    width: 100px;
    top: 9%;
    right: 16%;
    border-radius: 100%;
}

.img-container {
    width: 60%;
    height: 70%;
}

#img-extra-zoom {
    width: 100%;
    height: 100%;
}